<!DOCTYPE html>
<html>
<head>
    <title> TheGossipProject </title>
</head>

<body>

    <h1 class="pixel"> <%= @gossip.title %></h1>
    <% 
    author = User.find @gossip.user_id
    author_name = author.first_name + " " + author.last_name

    %>

    <div class="gossip_card">

        <%= @gossip.content %> </br>
        <%= author_name%> </br>
        <%= @gossip.created_at%> </br>

        <%= link_to "Voir la page de l'auteur", user_profile_path(author)%>

    </div>
</body>

</html>